{% extends '::base.html.twig' %}

{% block title %}
Gestione SEO
{% endblock %}

{% block content %}
<h1>Gestione SEO</h1>

<ul>
    <li>
        <a href="{{ path('admin_seo_new') }}">
            Nuova SEO personalizzata
        </a>
    </li>
</ul>

<table class="records_list">
    <thead>
        <tr>
            <th>Entity</th>
            <th>Operazioni</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.entityname }}</td>
                <td>
                    <a href="{{ path('admin_seo_edit', { 'id': entity.id }) }}">Modifica</a> - 
                    <a href="{{ path('admin_seo_all', { 'id': entity.id }) }}">Applica a tutti</a> - 
                    <a href="{{ path('admin_seo_n', { 'id': entity.id, 'da': 0, 'a': 1000 }) }}">Applica a 1000</a> - 
                    <a href="{{ path('admin_seo_show', { 'id': entity.id }) }}">Mostra</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
