{% extends '::base.html.twig' %}

{% block title %}
Gestione SEO
{% endblock %}

{% block content %}
<h1>Nuovo SEO personalizzato</h1>
<div style="width: 50%; float:left;">
<form action="{{ path('admin_seo_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Salva</button>
    </p>
</form>
</div>
<div style="width: 50%; float:left;" id="help">
    <dl>
        <dt>Attenzione!!!</dt>
        <dd>Inserire la <b>Entity class</b> prima di continuare</dd>
    </dl>
</div>
<script type="text/javascript">
    $('#seo_entity_class').change(function(){
        $.ajax({
            url: '{{ path('admin_seo_genera_help') }}',
            data: 'classe='+$('#seo_entity_class').val(),
            success: function(msg) {
                if(msg == 'ko') {
                    $('#help').html($('#errore').html());
                }else {
                    $('#help').html(msg);
                }
            }
        });
    });
</script>
<script type="text/html" id="errore">
    <dl>
        <dt>Errore!!!</dt>
        <dd>L'<b>Entity class</b> non è valida!</dd>
    </dl>
</script>
<ul class="record_actions">
    <li>
        <a href="{{ path('admin_seo') }}">
            Torna indietro
        </a>
    </li>
</ul>
{% endblock %}
